.fasility {
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fasility::before {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #333834;
    background-image: url('../../assets/cafe-fasility.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.fasilities {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.fasility-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fasility-content img {
    margin: 2rem;
}