.auth-page {
    height: 100vh;
    position: relative;
}

.auth-page::before {
    background-image: url('../../assets/landinglarge.jpg');
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #333834;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.auth-form {
    height: 600px;
    position: relative;
    width: 50%;
    right: -8rem;
}

.auth-nav {
    position: relative;
}


.auth-content {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    position: relative;
    height: 650px;
    align-items: center;
    margin: 2rem 9rem;
    border-radius: 1rem;
}


.image-container {
    width: 700px;
    height: 650px;
    position: relative;
    background-image: url('../../assets/landinglarge.jpg');
    background-size: cover;
    background-position: center;
    left: -8rem;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
}


.auth-form {
    color: white;
}

.auth-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    margin: 1rem 0;
    width: 300px;
    padding: 1rem 0;
}

.auth-form input::placeholder {
    color: white;
    font-size: medium;
}

.auth-heading {
    font-family: var(--font-subHeading);
    margin-bottom: 2rem;
}

.auth-form button {
    margin: 2rem 0;
    margin-right: 4rem;
}

.switch-mode  {
    cursor: pointer;
}