.cafes-container {
    height: 100vh;
}

.cafes {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.cafe {
    background-color: rgb(97, 181, 97);
    margin: 10px;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
}

@media (max-width: 40em) {
    .cafes-container {
        padding: 20px;
    }
}