.footer {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.footer h2 {
  color: var(--color-white);
  font-family: var(--font-base);
  margin-bottom: 1.5rem;
}

.clock {
  display: flex;
  align-items: flex-start;
}

.hours {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.clock-img {
  background-color: var(--color-limeGreen);
  width: 5rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 20%;
}

.copyright {
  background-color: var(--color-limeGreen);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.social-media {
  position: relative;
  right: 6rem;
}

.copyright p {
  position: relative;
  top: 1rem;
  left: 6rem;
}

.social-media img {
  margin: 0 1rem;
  width: 30px;
}

@media (max-width: 40em) {

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    padding-top: 6rem;
  }

  .footer-content {
    width: 100%;
    margin-bottom: 4rem;
  }
  
  .footer-content:nth-child(1) {
    grid-row: 1;
    grid-column: 1/3;
    place-items: center;
    width: 100%;
  } 
  
  .footer-content:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  .footer-content:nth-child(2) > p, .footer-content:nth-child(3) > p {
    margin: 0.8rem;
  }

  .footer-content:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }

  .copyright {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .social-media {
    top: -8rem;
    left: -7rem;
    display: flex;
  }
}