* {
    margin: 0;
    padding: 0;
}

.food-and-beve {
    background-color: var(--color-black);
    height: 100vh;
}

.food-and-beve-content {
    display: flex;
    margin-top: 10rem;
}

.flower-three {
    position: absolute;
    top: 110rem;
    right: 4rem;
}

.flower-one {
    position: absolute;
    top: 139rem;
    right: 28rem;
}

.green-line {
    width: 100px;
    background-color: var(--color-limeGreen);
    height: 2px;
}

.food-and-beve-pics {
    width: 50%;
    margin-right: 1rem;
}

.why-choose-us-content {
    width: 60%;
}

.food-and-beve-pics img {
    width: 300px;
    margin: 10px;
}

.why-choose-us {
    display: flex;
    align-items: center;
}

.why-choose-us p {
    margin-right: 1rem;
}

.japan-pattern {
    width: 90px;
    height: 90px;
}

.j-pattern-1 {
    position: absolute;
    top: 120rem;
    left: 6rem;
}

.j-pattern-2 {
    position: absolute;
    top: 120rem;
    left: 45rem;
}

.j-pattern-3 {
    top: 146rem;
    left: 6rem;
    position: absolute;
}


.j-pattern-4 {
    position: absolute;
    top: 146rem;
    left: 45rem;
}

.white-button {
    display: flex;
    background-color: var(--color-white);
    width: 300px;
    align-items: center;
    border-left: 8px solid var(--color-limeGreen);
    border-radius: 4px;
    text-align: center;
}

.white-button .twenty {
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.white-button .years-of-experienced {
    margin-left: 4rem;
}

.white-button .years-of-experienced p {
    margin: 0;
    color: var(--color-black);
}

.white-button .years-of-experienced .experienced {
    font-weight: bolder;
    font-size: large;
}