* {
    margin: 0;
    padding: 0;
}

.chefs-page {
    background-color: var(--color-black);
    padding-bottom: 6rem;
}

.meet-out-chefs {
    width: 100%;
}

.chefs {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
}

.chef img {
    width: 350px;
}

.chef-description {
    position: relative;
    background-color: var(--color-white);
    bottom: 6rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem 2rem;
}

.chef-nickname {
    color: var(--color-black);
    font-weight: bold;
    margin-bottom: 1rem;
}
.chef-title {
    color: #4B4B4B; 
    font-weight: 500;
    margin: 0;
}

.chef-button {
    padding: 15px 40px;
    border: 2px solid var(--color-limeGreen);
    border-radius: 25px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    display: flex;
    }