.menus-card {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 8rem;
}


.menus-page .navbar {
    position: relative;
    margin: 0;
}

.menu-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 4rem;
    margin-bottom: 4rem;    ;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.loading {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

@media (max-width: 40em) {
    .menu-card {
        margin: 1rem 0;
    }   

    .menus-card {
        padding: 1rem;
    }    
}