* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: black;
  color: white;
}

.logo {
  cursor: pointer;
}

.links {
  display: flex;
}

.link {
  padding: 0 20px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: larger;
}

a {
  text-decoration: none;
}


.humberger {
  display: none;
}

@media screen and (max-width: 680px) {
  .humberger {
    display: block;
    cursor: pointer;
  }

  .link {
    padding: 0;
    cursor: pointer;
  }

  .links {
    display: none;
  }

  .links-mobile {
        background-color: rgb(137, 184, 125);
        width: 95%;
        position: absolute;
        top: 72px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
  }

  .links-mobile > * {
    margin: 10px 0;
  }

  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: medium;
  }
}


