
.background-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.menus-page {
    position: relative;
    margin: 0;
    z-index: 10;
    padding: 0;
}

@media (max-width: 40em) {
    .background-menu {
        display: none;
    }

    .menus-page {
        background-color: black;
        margin: 0;
        padding: 0;
    }
}